@import "mq";
@import "fonts";

// Uncomment for embeds
// @import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.interactive-atom,
.element--immersive iframe {
    margin-left: -10px;
    margin-right: -10px;
    position: relative;

    @include mq(mobileLandscape) {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.content__main-column--interactive>h2 {
  font-size: 32px !important;
  line-height: 42px !important;
  font-family: "Guardian Egyptian Web", Georgia;
  font-weight: 200;

  @include mq($from: mobile, $until:leftCol) {
    font-size: 28px !important;
    line-height: 38px !important;
  }

  @include mq($from: leftCol) {
    font-size: 32px !important;
    line-height: 42px !important;
  }
}

.interactive-seabed__text-wrapper {

      margin-top: -100vh;
      @include mq(mobile){
        margin-top: -85vh;
      }

      @include mq(mobileLandscape){
        margin-top: -82vh;
      }
      @include mq(tablet){
        margin-top: -65vh;
      }
      @include mq(desktop){
        margin-top: -100vh;
      }
      @include mq(wide){
        margin-top: -100vh;
      }
}

.interactive-seabed__text {
    height: 85vh;
    position: relative;
    z-index: 200;
    max-width: 620px;

    @include mq(mobile) {
      height: 85vh;
      max-width: 90%;
    }

    @include mq(mobileLandscape) {
      height: 82vh;
      max-width: 90%;
    }

    @include mq(tablet) {
      height: 65vh;
      max-width:620px;
      // margin-left: 15px;
    }


    @include mq(desktop) {
    	margin-left: 15px;
      max-width:620px;
      height:100vh;
    }

    @include mq(leftCol) {
    	margin-left: 155px;
      height:100vh;
      max-width:620px;
    }



    @include mq(wide) {
    	margin-left: 240px;
      height:100vh;
      max-width: 620px;
	}

    p {
        font-family: "Guardian Egyptian Web", Georgia;
        display: inline;
        background-color: rgba(255, 255, 255, 0.76);
        color: #333;
        padding: 5px 5px 5px 5px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        // @include fs-headline(3);
        font-size: 32px;
        line-height: 42px;
        font-weight: 200;

        @include mq($from: mobile, $until:leftCol) {
          font-size: 28px;
          line-height: 38px;

        }

        @include mq($from: leftCol) {
          font-size: 32px;
          line-height: 42px;
        }

        @include mq($from: mobileLandscape, $until: tablet){

        }



    }
}

.interactive-seabed__container {
  margin-top:35px;
    .no-sticky & {
        overflow: hidden;
    }
}

.interactive-seabed__video {
    position: absolute;
	   position: -webkit-sticky;
    position: sticky;
    top: 0;
    line-height: 0;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    @include mq(mobile) {
        // margin-left: -10px;
        height:85vh;
    }

    @include mq(mobileLandscape) {
        // margin-left: -10px;
        height:82vh;
    }

    @include mq(tablet) {
        width: 700px;
        // margin-left: -10px;
        height:65vh;
    }


    @include mq(desktop) {
        width: 940px;
        height:100vh;
    }

    @include mq(leftCol) {
        width: 1100px;
        height:100vh;
    }

    @include mq(wide) {
        width: 1260px;
        height:100vh;
    }

    video {
        width: 100%;
        line-height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

figure.element-interactive iframe {
  @include mq(mobile) {
    width:100vw !important;
  }

  @include mq(mobileLandscape) {
    width:100vw !important;
  }

  @include mq(tablet) {
    width:740px !important;
  }

  @include mq(desktop) {
    width:980px !important;
  }

  @include mq(leftCol) {
    width:1140px !important;
  }

  @include mq(wide) {
    width:1300px !important;
  }
}

// css hacks to fix the page :) 

.element--immersive {

}
